main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    position: relative;
}

.background-status {
    position: absolute;
    bottom: -300px;
    left: -200px;
    color: rgba(244, 244, 244, 1);
    z-index: -10;
}

.background-status h1{
    font-size: 800px;
    font-weight: 500;
}

.page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page-info p {
    font-size: 34px;
    font-weight: 300;
}

.page-info a {
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 50px;

}