

{% extends '_base.html' %}
{% load static %}

{% block title %}Блог{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}


{% block content %}



    <div class="status-bar" role="navigation" aria-label="Статус-бар">
        <div class="sb-inner">
            <img class="sb-logo" src="{% static 'images/GY.svg' %}" alt="GY">
            <span class="sb-dot" aria-hidden="true"></span>
            <a class="sb-link" href="{% url 'blog' %}">БЛОГ</a>
        </div>
    </div>

    <main>

        <section class="blog-list">
            <div class="blog-page-title">
                <h2>Блог</h2>
            </div>

            {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="blog-link">     
                <article class="blog-item">
                    <div class="blog-thumb">
                        <img src="{{ post.preview.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="blog-content">
                        <h2 class="blog-title">{{ post.title }}</h2>
                        <p class="blog-excerpt">
                            {{ post.content|truncatechars:150|safe }}
                        </p>
                        <span class="blog-date">{{ post.created_at|date:"d / m / Y" }}</span>
                    </div>
                </article>
            </a>
            {% endfor %}


        </section>






        <!-- PAGINATION -->
        <nav class="pager" role="navigation" aria-label="Пагинация">
            <button class="pg-btn pg-prev" aria-label="Предыдущая" type="button">
                <img src="{% static 'icons/arrow.svg' %}" alt="">
            </button>

            <ul class="pg-list">
                <li><a class="pg-link" href="#">1</a></li>
                <li><a class="pg-link" href="#">2</a></li>
                <li><a class="pg-link" href="#">3</a></li>
                <li><a class="pg-link" href="#">4</a></li>
                <li><span class="pg-link is-current">5</span></li>
                <li><a class="pg-link" href="#">6</a></li>
                <li><a class="pg-link" href="#">7</a></li>
                <li><a class="pg-link" href="#">8</a></li>
                <li class="pg-ellipsis">…</li>
                <li><a class="pg-link" href="#">X</a></li>
            </ul>

            <button class="pg-btn pg-next" aria-label="Следующая" type="button">
                <img src="{% static 'icons/arrow.svg' %}" alt="">
            </button>
        </nav>

    </main>

{% endblock content %}