{% extends '_base.html' %}
{% load static %}
{% load site_settings %}
{% get_site_contacts as s %}

{% block title %}
  О нас
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
  <div class="status-bar" role="navigation" aria-label="Статус-бар">
    <div class="sb-inner">
      <img class="sb-logo" src="{% static 'images/GY.svg' %}" alt="GY" />
      <span class="sb-dot" aria-hidden="true"></span>
      <a class="sb-link" href="{% url 'about' %}">О НАС</a>
    </div>
  </div>

  <main>
    <section class="about-hero">
      <div class="hero-name">
        <h2>О НАС</h2>
      </div>

      <div class="about-text">
        <p>
          Gabriel Yusubov — это я и мое творчество, а в мире моды — молодой fashion-бренд моего имени. <br /><br />

          Идея создать свой бренд — это всегда выход мысли в масштаб, что находит продолжение в тех вещах, которые создаются мной и моей командой. Думаю, что все должно называться «своими именами» и оставаться честным с собой и миром, где нет масок.
        </p>

        <div class="signature">
          <img class="about-sign" src="{% static 'images/signature.svg' %}" alt="Подпись G. Yusubov" />
        </div>
      </div>

      <div class="background-logo-hero">
        <img src="{% static 'images/GY.svg' %}" alt="" />
      </div>
    </section>

    <section class="gallery">
      <div class="gallery-inner">
        <figure class="gallery-item">
          <img src="{% static 'images/gallery1.jpg' %}" alt="" />
        </figure>
        <figure class="gallery-item">
          <img src="{% static 'images/gallery2.jpg' %}" alt="" />
        </figure>
        <figure class="gallery-item">
          <img src="{% static 'images/gallery3.jpg' %}" alt="" />
        </figure>
      </div>
    </section>

    <section class="about-quote">
      <div class="quote-img">
        <img src="{% static 'icons/quote.svg' %}" alt="" />
      </div>

      <p>ЭТА МЕЧТА ПОЯВИЛАСЬ У МЕНЯ, ГЛЯДЯ НА РАБОТЫ ЗАКОНОДАТЕЛЕЙ ВЫСОКОЙ МОДЫ И ИХ ТИТАНИЧЕСКИЙ ТРУД, КОТОРЫЙ ПРИВЕЛ К ПРИЗНАНИЮ В FASHION-СРЕДЕ.</p>
    </section>


    <div class="divider"></div>


    <section class="mission">
      <h3>МИССИЯ</h3>

      <p>Я чувствую, что мода — это связь прошлого и современных предпочтений людей, которые формируются через их самовыражение и восприятие самих себя. Моя миссия — выразить свое видение моды через творчество и индивидуальный подход к работе.</p>
    </section>

    <section class="values">
      <h3>НАШИ ЦЕННОСТИ</h3>

      <div class="value">
        <div class="value-title">ПРИДАНИЕ УНИКАЛЬНОСТИ И ЕДИНСТВА ФОРМАМ</div>
        <p>Мы повторяем ваши формы, чтобы дать свободу движению, которое вы дарите пространствам своим перемещением. Наша задача — чётко понимать ваш запрос. При пошиве изделий учитываются индивидуально снятые мерки, особенности фигуры и характер активности. Так нам удаётся узнать ваши предпочтения и назначение изготавливаемого изделия.</p>
      </div>

      <div class="value">
        <div class="value-title">ДЕТАЛИЗАЦИЯ ОБРАЗА</div>
        <p>При создании изделий мы не только стремимся обеспечить комфорт, а делаем его совместно с вами, учитывая те детали, которые могут быть ключами, открывающими вас для самих себя. Изобретение нового образа и его детализация — это путь к более глубинному и точному контакту с собой.</p>
      </div>

      <div class="value">
        <div class="value-title">РАЗГОВОР О ЧУВСТВАХ НА ЯЗЫКЕ МОДЫ</div>
        <p>Наша цель — быть в контакте и начать говорить. Ваше выражение себя — ваш способ высказывания, а вещь — слово, которое расскажет о вас вашу историю, которую мы создаём ежедневно вместе.</p>
      </div>
    </section>


    <div class="divider"></div>


    <section class="history">
      <p>История моего бренда только начинается. <br><br>

        Мы тщательно анализируем рынок, чтобы быть в курсе новейших тенденций и задавать в этом поле свой вектор, который встроен в общую систему координат.<br><br>

        Для нас важно чувствовать контакт с мировыми тенденциями и с нашими покупателями. Только такая синергия дает нам силы и виденье будущего моды.</p>
        
        <div class="last-photo">
          <img src="{% static "images/about-ph-bottom.jpg" %}" alt="">
        </div>
      </section>
  </main>
{% endblock %}
