{% extends '_base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}


{% block content %}


    
    <div class="status-bar" role="navigation" aria-label="Статус-бар">
        <div class="sb-inner">
            <img class="sb-logo" src="{% static 'images/GY.svg' %}" alt="GY">
            <span class="sb-dot" aria-hidden="true"></span>
            <a class="sb-link" href="{% url 'about' %}">О НАС</a>
        </div>
    </div>




    <main>
        <section class="about-hero">
            <div class="about-grid">
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Commodo purus faucibus turpis vestibulum egestas.
                        Scelerisque eu ultrices nunc orci. Suscipit in nunc sem elementum ut massa convallis. Ipsum
                        gravida a
                        porttitor fermentum sodales vitae quam ullamcorper tristique. Odio convallis aliquet purus sit
                        id tellus
                        quis. Egestas vitae tincidunt adipiscing morbi metus. Turpis risus nisi quis laoreet tempor
                        tempus turpis
                        sed consequat. Ullamcorper velit tincidunt viverra phasellus duis volutpat. In vitae blandit
                        proin viverra
                        id facilisi amet.
                    </p>

                    <div class="signature">
                        <img class="about-sign" src="{% static 'images/signature.svg' %}" alt="Подпись G. Yusubov">
                    </div>
                </div>

                <figure class="about-photo about-photo--hero">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>

                <figure class="about-photo about-photo--left">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>

                <figure class="about-photo about-photo--right">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>
            </div>
        </section>


        <section class="history">
            <h3>НАША ИСТОРИЯ</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur. Commodo purus faucibus turpis vestibulum egestas. Scelerisque eu
                ultrices nunc orci. Suscipit in nunc sem elementum ut massa convallis. Ipsum gravida a porttitor
                fermentum sodales vitae quam ullamcorper tristique. Odio convallis aliquet purus sit id tellus quis.
                Egestas vitae tincidunt adipiscing morbi metus. Turpis risus nisi quis laoreet tempor tempus turpis sed
                consequat. Ullamcorper velit tincidunt viverra phasellus duis volutpat. In vitae blandit proin viverra
                id facilisi amet.
            </p>
        </section>



        <section class="values">
            <h3>ЦЕННОСТИ</h3>

            <div class="values-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Commodo purus faucibus turpis vestibulum egestas.
                    Scelerisque eu
                    ultrices nunc orci. Suscipit in nunc sem elementum ut massa convallis. Ipsum gravida a porttitor
                    fermentum sodales vitae quam ullamcorper tristique.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur. Commodo purus faucibus turpis vestibulum egestas.
                    Scelerisque eu
                    ultrices nunc orci. Suscipit in nunc sem elementum ut massa convallis. Ipsum gravida a porttitor
                    fermentum sodales vitae quam ullamcorper tristique.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur. Commodo purus faucibus turpis vestibulum egestas.
                    Scelerisque eu
                    ultrices nunc orci. Suscipit in nunc sem elementum ut massa convallis. Ipsum gravida a porttitor
                    fermentum sodales vitae quam ullamcorper tristique.
                </p>
            </div>
        </section>


        <section class="gallery">
            <div class="gallery-inner">
                <figure class="gallery-item">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>
                <figure class="gallery-item">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>
                <figure class="gallery-item">
                    <img src="{% static 'images/photo.jpg' %}" alt="">
                </figure>
            </div>
        </section>




        <section class="socials">

            <div class="sign-note">
                <img src="{% static 'images/weinsoc.png' %}" alt="">
            </div>

            <a href="">@GABRIEL_YUSUBOV</a>

            <div class="socials-container">
                <ul class="socials-list-main">
                    <li>
                        <a class="social-link" href="https://instagram.com/username" target="_blank" rel="noopener nofollow"
                            aria-label="Instagram">
                            <img src="{% static 'icons/instagram.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link" href="https://vk.com/username" target="_blank" rel="noopener nofollow"
                            aria-label="VK">
                            <img src="{% static 'icons/vk.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link" href="https://t.me/username" target="_blank" rel="noopener nofollow"
                            aria-label="Telegram">
                            <img src="{% static 'icons/telegram.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link" href="https://www.tiktok.com/@username" target="_blank"
                            rel="noopener nofollow" aria-label="TikTok">
                            <img src="{% static 'icons/tiktok.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="social-link" href="https://youtube.com/@username" target="_blank" rel="noopener nofollow"
                            aria-label="YouTube">
                            <img src="{% static 'icons/youtube.svg' %}" alt="">
                        </a>
                    </li>
                </ul>

                <p class="socials-main-note">*проект Meta Platforms Inc., запрещена в РФ</p>
            </div>

        </section>

    </main>

{% endblock content %}