{% extends '_base.html' %}
{% load static %}

{% block title %}ЛИЧНЫЙ КАБИНЕТ{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/lk.css' %}">
{% endblock %}


{% block content %}

    <div class="status-bar" role="navigation" aria-label="Статус-бар">
        <div class="sb-inner">
            <img class="sb-logo" src="{% static 'images/GY.svg' %}" alt="GY">
            <span class="sb-dot" aria-hidden="true"></span>
            <a class="sb-link" href="/shop/">ЛИЧНЫЙ КАБИНЕТ</a>
        </div>
    </div>

    <main>

        <div class="lk-section-name">
            <img src="{% static 'icons/user.svg' %}" alt="">
            <p>ЛИЧНЫЙ КАБИНЕТ</p>
        </div>

        <section class="authorized" style="display: none;">
            <section class="lk-links">
                <a href="">МОИ ЗАКАЗЫ</a>
                <a href="">ИЗБРАННОЕ</a>
                <a href="">КОРЗИНА</a>
                <a href="">ПРОФИЛЬ</a>
                <a href="{% url 'account_logout' %}" class="logout">ВЫЙТИ</a>
            </section>
    
            <div class="background-logo">
                <img src="{% static 'images/GY.svg' %}" alt="">
            </div>
        </section>


        <section class="unauthorized">

            <a href=""class="login-btn">Войти</a>

        </section>
    </main>
{% endblock content %}