body {
    font-family: "Jost", sans-serif;
    position: relative;
    background-color: white;
}

.site-header {
    background-color: white;
}

.logo {
    filter: invert(0) !important;
}

.lang-switch a {
    color: black !important;
}


.status-bar {
    padding-top: 98px;
    color: white;

}


.sb-inner {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: black;
    padding: 20px 40px;
}


.sb-logo {
    width: 38px;
    height: 32px;
    object-fit: contain;
    filter: invert(1);
    opacity: .9;
}


.sb-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    opacity: .8;
}

.sb-link {
    font-size: 16px;
    letter-spacing: .12em;
    font-weight: 300;
    color: #cfcfcf;
    text-decoration: none;
}

.sb-link:hover {
    color: #fff;
}


@media (max-width:720px) {

    .status-bar {
        padding-top: 67px;
    }

    .sb-inner {
        padding: 20px 20px;
    }

}