.article {}


.article-cover {
    width: 100%;
    height: 360px;
    background: #dcdcdc;
    margin-bottom: 40px;
}


.article-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.article-inner {
    max-width: 1484px;
    margin: 40px auto 80px;
}


.article-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    padding: 30px 0 60px;
    position: relative;
}

.article-back {
    position: absolute;
    left: -100px;
    top: 38%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.article-back img {
    width: 20px;
    height: 20px;
}

.article-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #111;
}

.article-date {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    white-space: nowrap;
}


.article-body {
    margin-top: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 144%;
}

.article-body p {
    margin: 0 0 18px;
}

.article-divider {
    height: 1px;
    background: #e9e9e9;
    margin: 36px 0 28px;
}


.article-more {
    position: relative;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    gap: 16px;
    margin: 100px;
}

.more-btn {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.more-btn img {
    width: 20px;
    height: 20px;
    display: block;
}

.more-btn.next img {
    transform: scaleX(-1);
}


.more-track {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.more-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    text-decoration: none;
    background: #fff;
}

.more-thumb {
    width: 305px;
    height: 219px;
    background: #dcdcdc;
    flex-shrink: 0;
}

.more-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    justify-content: space-between;
}

.more-title {
    color: #111;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.4;
}

.more-date {
    font-size: 30px;
    font-weight: 300;
    color: #9a9a9a;
}


.more-card.is-dimmed {
    opacity: .35;
    pointer-events: none;
}

/* Адаптив */
@media (max-width: 1200px) {
    .article {
        padding: 0 60px;
    }

    .more-track {
        gap: 20px;
    }
}

@media (max-width: 920px) {
    .article {
        padding: 0 24px;
    }

    .article-head {
        align-items: center;
    }

    .article-title {
        font-size: 18px;
    }

    .more-track {
        grid-template-columns: 1fr;
    }

    .more-card.is-dimmed {
        opacity: 1;
        pointer-events: auto;
    }
}