.hero {
    display: flex;
    max-height: 950px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.hero-bg-ph {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.hero-bg-ph img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center calc(0% - 150px);
    /* transform: translateY(-100px); */
}

.logo-overlay {
    position: absolute;
    bottom: -400px;
    right: -20px;
    overflow: hidden;
}

.logo-overlay img {
    width: 1182px;
    height: 1471px;
}



.about-signature {
    padding: 40px 160px;
}

.signature {
    display: flex;
    justify-content: flex-end;
}

.main-text {
    font-size: 16px;
    font-weight: 300;
    max-width: 800px;
}




.divider {
    width: 95%;
    height: 2px;
    background-color: #000;
    margin: 60px auto;
}




.shop {
    padding: 40px 60px;
}

.shop h2 {
    font-size: 36px;
    font-weight: 400;
    margin-left: 100px;
}


.catalog {
    position: relative;
    padding: 24px 28px;
    background: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

/* === карточка из магазина === */
.p-card {
    width: 100%;
    max-width: 300px;
    text-decoration: none;
    color: #111;
    position: relative;
}

.p-media {
    position: relative;
    aspect-ratio: 3 / 4;
    background: #e6e6e6;
    border: 1px solid #e9e9e9;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .06);
    overflow: hidden;
}

.p-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* избранное */
.p-flag-btn {
    position: absolute;
    top: -6px;
    right: 8px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    line-height: 0;
    z-index: 2;
}

.p-flag-btn.active path {
    fill: #fff;
}

.p-flag-btn:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
}

/* глаз */
.p-eye-btn {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
}

.p-eye-btn img {
    width: 38px;
    height: 38px;
    display: block;
}

.p-eye-btn:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
}

/* подписи */
.p-info {
    margin-top: 10px;
}

.p-title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.p-meta {
    display: flex;
    gap: 14px;
    align-items: baseline;
    justify-content: space-between;
}

.p-price {
    font-weight: 300;
    font-size: 22px;
}

.p-art {
    font-size: 20px;
    font-weight: 200;
    color: rgba(177, 177, 177, 1);
}

/* hover */
.p-card:hover .p-media {
    transform: translateY(-2px);
    box-shadow: 0 14px 24px rgba(0, 0, 0, .12);
    transition: .2s ease-in-out;
}


/* стрелки как на сетке (по бокам контейнера) */

.cat-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-nav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cat-nav.prev {
    left: -10px;
}

.cat-nav.next {
    transform: rotate(180deg);
    right: -10px;
}

/* ховер-микроанимации */
.card:hover .card-media img {
    transform: scale(1.02);
    transition: transform .3s ease;
}





@media (max-width:767px) {

    .hero {
        height: 500px;
    }

    .hero-bg-ph img {
        object-position: unset;
    }

    .logo-overlay {
        bottom: -130px;
        right: 20px;
        width: 300px;
    }

    .logo-overlay img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-signature {
        padding: 30px 20px;
    }

    .signature {
        width: 100%;
        margin-top: 40px;
    }

    .signature img {
        width: 80%;
        height: 80%;
        object-fit: cover;
    }
}



@media (min-width: 768px) and (max-width: 1350px) {

    .hero {
        height: 600px;
    }

    .hero-bg-ph img {
        object-position: unset;
    }

    .logo-overlay {
        bottom: -130px;
        right: 20px;
        width: 400px;
    }

    .logo-overlay img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-signature {
        padding: 50px 40px;
    }

    .main-text {
        max-width: 70%;
    }

    .signature {
        width: 100%;
        margin-top: 40px;
    }

    .signature img {
        width: 60%;
        height: 60%;
        object-fit: cover;
    }
}