main {
    padding: 100px;
    position: relative;
}

.lk-section-name {
    display: flex;
    gap: 30px;
    align-items: center;
}

.lk-section-name p {
    font-size: 36px;
    font-weight: 300;
}

.lk-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.lk-links a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.lk-links .logout {
    font-weight: 200;
}


.background-logo {
    position: absolute;
    bottom: -250px;
    left: -200px;
    z-index: -1;
    opacity: 0.2;
}

.background-logo img {
    width: 900px;
}


.unauthorized {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-btn {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 6px 48px;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.login-btn:hover {
    background-color: rgb(43, 43, 43);
}



@media (max-width:767px) {
    main {
        padding: 30px 20px;
    }

    .lk-section-name {
        gap: 15px;
    }

    .lk-section-name p {
        font-size: 16px;
    }

    .lk-section-name img {
        width: 20px;
    }

    .background-logo {
        bottom: -6px;
        left: -300px;
    }

    .background-logo img {
        width: 590px;
    }
}



@media (min-width: 768px) and (max-width: 1350px) {
    main {
        padding: 100px 40px;
    }

    .lk-section-name img {
        width: 24px;
    }

    .lk-section-name p {
        font-size: 24px;
    }
}