main {
    padding: 100px;
}

.page_name {
    font-size: 36px;
    font-weight: 400;

}

.offer-info {
    padding: 0 100px;
}

.offer-info h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}

.offer-info p {
    font-size: 16px;
    font-weight: 300;
}

.subcl {
    display: block;
    margin-left: 28px
}

.date {
    margin-top: 100px;
    font-size: 16px;
    font-weight: 300;
}



.requisites h3 {
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.requisites p {
    font-size: 16px;
    font-weight: 300;
}




@media (max-width:767px) {
    main {
        padding: 20px;
    }

    .offer-info {
        padding: 0 20px;
    }
}


@media (min-width: 768px) and (max-width: 1350px) {
    main {
        padding: 50px 40px;
    }

    .offer-info {
        padding: 0 20px;
    }
}