main {
    padding: 30px 100px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 50px 0px;
}


.page-info {
    padding: 0 100px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0px;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}


.page-contacts {
    margin-top: 70px;
}

.contacts_stack {
    margin-left: 100px;
    margin-top: 50px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-item a {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #007bff;
}



@media (max-width: 767px) {
    main {
        padding: 30px 20px;
    }

    h2 {
        margin: 0px 0px 10px;
    }

    .page-info {
        padding: 0 20px;
    }

    .contacts_stack {
        margin-left: 20px;
        margin-top: 20px;
    }

    .contact-item {
        margin: 10px 0;
    }
}




@media (min-width: 768px) and (max-width: 1350px) {
    main {
        padding: 50px 40px;
    }

    h2 {
        margin: 0px 0px 20px;
    }

    .page-info {
        padding: 0 20px;
    }

    .contacts_stack {
        margin-left: 20px;
        margin-top: 20px;
    }

    .contact-item {
        margin: 10px 0;
    }
}