{% extends '_base.html' %}
{% load static %}
{% load site_settings %}
{% get_site_contacts as s %}

{% block title %}ЛИЧНЫЙ КАБИНЕТ{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/lk.css' %}">
{% endblock %}


{% block content %}

    <div class="status-bar" role="navigation" aria-label="Статус-бар">
        <div class="sb-inner">
            <a href="/">
                <img class="sb-logo" src="{% static 'images/GY.svg' %}" alt="GY">
            </a>
            <span class="sb-dot" aria-hidden="true"></span>
            <a class="sb-link" href="{% url 'lk' %}">ЛИЧНЫЙ КАБИНЕТ</a>
        </div>
    </div>

    <main>
        {% if user.is_authenticated %}
        <div class="lk-section-name">
            <img src="{% static 'icons/user.svg' %}" alt="">
            <p>{{ user.profile.full_name|default:user.get_full_name|default:user.email|upper }}</p>
        </div>
        
        <section class="authorized">
            <section class="lk-links">
                <a href="">МОИ ЗАКАЗЫ</a>
                <a href="{% url 'favorites' %}">ИЗБРАННОЕ</a>
                <a href="">КОРЗИНА</a>
                <a href="{% url 'lk_edit' %}">ПРОФИЛЬ</a>
                <a href="{% url 'account_logout' %}" class="logout">ВЫЙТИ</a>
            </section>
    
            <div class="background-logo">
                <img src="{% static 'images/GY.svg' %}" alt="">
            </div>
        </section>

        {% else %}
        <div class="lk-section-name">
            <img src="{% static 'icons/user.svg' %}" alt="">
            <p>ЛИЧНЫЙ КАБИНЕТ</p>
        </div>

        <section class="unauthorized">

            <a href="{% url 'account_login' %}"class="login-btn">Войти</a>

        </section>
        {% endif %}
    </main>
{% endblock content %}